<h1>Books</h1>
<%= link_to "<-- to authors", authors_path, method: :get %>
<br/>
<br/>

<table>
  <tr>
    <th>ID</th>
    <th width = 200>Book Name</th>
    <th></th>
  </tr>

<% @books.each do |a| %>


  <tr>
    <td><%= a.id %> </td>
    <td align = center><%= link_to a.name, book_path(a) %></td>
    <td><%= link_to "Edit", edit_book_path(a) %></td>
    <td><%= link_to "Delete", a, method: :delete, data: { confirm: "Are you sure?"} %></td>
  </tr>

  
<% end %>


</table>

<br/>
<br/>
<%= button_to "Add new book", new_book_path, method: :get %>
