<h1><%= @book.name %></h1>
<%= link_to "<-- to books", books_path, method: :get %>
<br/>
<br/>

<table>
  <tr>
    <th>ID</th>
    <th width = 200>Author Name</th>
    <th></th>
  </tr>
<h2>book's authors:</h2>
<% @book.authors.each do |b| %>
  <tr>
  <td><%= b.id %></td>
  <td align=center><%= b.name %></td>
  <td><%= link_to 'show', author_path(b) %></td>
  </tr>
  <% end %>

</table>
<table>

  <tr>
    <th>ID</th>
    <th width = 200>Author Name</th>
    <th></th>
  </tr>

<h2>choose author to add</h2>

<% Author.all.each do |b| %>

  <tr>
    <td><%= b.id %></td>
    <td align = center><%=  b.name %></td>
    <td align = center><%= link_to "add",controller: "books", :action => "add_author", :id => @book, :author_id => b %></td>
  </tr>
<% end %>
</table>
  
